.header {
  color: #fff;
  min-width: 100%;
  padding: 1em;
  text-align: center;

  h1 {
    font-size: 1em;
  }
}

.content {
  padding: 2em;
  color: #fff;
  min-width: 100%;
  min-height: 100%;
  text-align: center;
  background-image: url('../../../../public/assets/wood-tile.jpg');
  background-repeat: repeat;

  h2,
  h3,
  h4,
  h5 {
    margin-top: 1.5em;
    font-weight: bold;
  }

  input,
  button {
    padding: 0.5em;
  }

  p {
    margin-bottom: 1em;
  }
}

.layout {
  position: relative;
  min-height: 100vh;
  background: #333;
  height: 1px;
}
