html,
body,
main {
  min-height: 100vh;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Major Mono Display', monospace;
    font-size: 1.5rem;
  }

  p,
  div,
  button,
  input,
  li,
  a {
    font-family: 'VT323', monospace;
    font-size: 1.25rem;
  }
}
