.joinCode {
  font-size: 1.5rem;

  background: #fff;
  color: #333;
  padding: 0.25rem;
  margin: 0.5rem;
  display: inline-block;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.flexTogether {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
